@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&family=Inter&family=Playfair+Display:wght@700&display=swap');

.page__padding{
  padding: 80px 0 110px;
}
.container{
  max-width: 1070px;
  margin: auto;
}