.add-article-form__wrapper {
  h2{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    color: #242424;
    margin-bottom: 64px;
  }
  form {
    display: flex;
    flex-direction: column;
    input{
      height: 48px;
      border: 1px solid #E1E1E1;
      box-sizing: border-box;
      margin-bottom: 24px;
      padding-left: 15px;
    }
    .sub__btn {
      width: 188px;
      height: 48px;
      background: #242424;
      font-family: 'IBM Plex Sans', serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      color: #FFFFFF;
      margin-top: 48px;
    }
  }
}
div.rdw-editor-main{
  border: 1px solid #E1E1E1;
  padding: 20px 15px;
  height: 335px;
}